@charset "utf-8";
/* CSS Document */
.searchbtns{margin-left:5px;width:70px; height:28px; border:#eee 1px solid; border-radius:5px; color:#afafaf;  padding-left:10px; font-size:14px;}
.so{background:#FFF url(../../images/modelTwo/soo.png) no-repeat 6px center;}
.st{background:#FFF url(../../images/modelTwo/soo.png) no-repeat 6px center;}
.sth{background:#FFF url(../../images/modelTwo/stt.png) no-repeat 6px center;}
.sf{background:#FFF url(../../images/modelTwo/sff.png) no-repeat 6px center;}
#rank {
	position:relative;
	width:auto;
	height:auto;
	background:#fff;
	padding:36px 3%;
}
.rank_title {
	width:150px;
	height:39px;
	
	font-size:18px;
	text-align:center;
	border-bottom:#F60 1px solid;
	color:#f60;
}
#rank_main {
	width:auto;
	height:auto;
	border-top:1px solid #ccc;
	padding:22px 2% 10px 2%;
}
.inputtime {
	width:83px;
	padding-left:5px;
	padding-right:5px;
	height:30px;
	font-size:12px;
	color:#999;
	border:1px solid #ccc;
	-webkit-transition:all 0.25s linear;
	-moz-transition:all 0.25s linear;
	transition:all 0.25s linear;
	border-radius:4px;
}
.search {
	margin-left:20px;
	width:70px;
	height:30px;
	border:#eee 1px solid;
	border-radius:5px;
	color:#afafaf;
	background:#FFF url(../../images/modelTwo/s.gif) no-repeat 5px center;
	padding-left:10px;
	font-size:14px;
}
.ac_labfon {
	display: inline-block;
	width:auto;
	height:auto;
	margin-right:5px;
	color:#666;
	font-size:15px;
	font-weight:200;
}
#bar,#pie, #line {
	width:100%;
	height:400px;
	border:1px solid #eee;
	margin-right:10px;
	margin-top:10px;
}
 #map {
	width:100%;
	height:550px;
	border:1px solid #eee;
	margin-right:10px;
	margin-top:10px;
}
.rank_w {
	margin-left:20px;
	margin-right:10px;
}
.obtn_wh, obtn_city {
	width:59px;
	height:22px;
	font-family:'Microsoft YaHei';
	font-size:14px;
	color:#fff;
	background:#999;
	border:none;
	border-radius:3px;
	margin-right:10px;
}
/*.rank_style{ margin-top:30px; height:30px; text-align:center; width:100%;}*/
  .st_btn, .cy_btn {
	width:30px;
	height:30px;
	background:#999;
	color:#fff;
	border:none;
	border-radius:50%;
	font-size:12px;
	margin-right:10px;
}
.obtn_selected {
	border:1px solid #FC3;
}
.rank_exg {
	width:auto;
	height:21px;
	font-family:'Microsoft YaHei';
	font-weight:400;
	font-size:16px;
	color:#666666;
}
.lbtn {
	width:100%;
	height:30px;
	margin-top:20px;
	margin-bottom:10px;
}
.obtn_selecteds {
	background:#f60;
 
}
.trendexport {
	display:inline-block;
	text-align:left;
	width:70px;
	height:30px;
	border:#eee 1px solid;
	border-radius:5px;
	color:#afafaf;
	background:#FFF url(../../images/modelTwo/t.gif) no-repeat 5px center;
	padding-left:30px;
	padding-top:6px;
	font-size:14px;
}
.exportBtn{text-align:right; margin:20px; margin-bottom:10px;}
.notext{ border:1px solid #F00}
.bordercol:hover{border:#fc3 1px solid}
#hourrank_pager_left{ width:auto !important}
#cityrank_pager_left{ width:auto !important}