<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property resource="xid.properties" />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d %-5level %t] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file.log.sys" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>${LOG_HOME_ING}/${server.num}.dp.sys.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sys/%d{yyyyMMdd}.${server.num}.dp.sys.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d %-5level %t] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file.log.sys" />
	</root>

</configuration>
