<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyx.ls.dao.campaign.InversionpointMapper">
<resultMap type="com.xyx.ls.model.campaign.Inversionpoint" id="InversionpointMap">
<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="creation" property="creation" jdbcType="TIMESTAMP" />
		<result column="removed" property="removed" jdbcType="BIT" />
		<result column="last_modified" property="last_modified" jdbcType="TIMESTAMP" />
</resultMap>

<insert id="add" useGeneratedKeys="true" keyProperty="id">
 		insert into convertion (name,creation,removed,last_modified) values(
 	#{name},#{creation},#{removed},#{last_modified}
 	)
</insert>
<insert id="addInversionpointAccount">
insert into account_convertion_rel (account_id,convertion_id)
values (#{0},#{1})
</insert>

<delete id="delete">
delete from convertion where id in(#{ids})
</delete>
<delete id="deleteInversionpointAccount">
delete from account_convertion_rel where convertion_id in(#{0})and  account_id = #{1}
</delete>
<delete id="deleteInversionpointCampaign">
delete from  campaign_convertion_rel where convertion_id in(#{0})
</delete>
<update id="update">
	update convertion set 
	<if test="#{name}!=null">
		name=#{name},</if>
		<if test="#{removed}!=null">
		removed=#{removed},</if>
		<if test="#{last_modified}!=null">
		last_modified=#{last_modified}</if>
		where id=#{id}
</update>

<select id="findByIds" resultMap="InversionpointMap">
	select * from convertion where id in(#{ids})
</select>

<select id="findAll"  resultMap="InversionpointMap">
	select * from convertion where name like CONCAT('%',#{name},'%')
</select>
<select id="findByCampaignId" resultMap="InversionpointMap">
select* from convertion where id in(
select convertion_id from campaign_convertion_rel where campaign_id =#{id})
</select>
<select id="findAllByAccountId" resultMap="InversionpointMap">
select* from convertion where id in(
select convertion_id from account_convertion_rel where account_id = #{0}) ORDER BY last_modified desc
</select>
<select id="findByName" resultMap="InversionpointMap">
select * from convertion where id in(select convertion_id from account_convertion_rel where account_id=#{1}) and name=#{0}
</select>
<select id="findCampaignByConvertion" resultType="java.lang.Integer">
select count(campaign_id) from campaign_convertion_rel where convertion_id=#{0}
</select>
</mapper>
