@charset "utf-8";
/* CSS Document */

.fl{ float:left;}
h2{  padding-left:10px;font-family:'Microsoft YaHei';  font-weight:400;  font-size:21px;  color:#ff941e;}
h5{ padding-left:32px; padding-top:20px;font: 12px 'STXingkai';  color:#FFFFFF;}
.list{ height:100%; line-height:50px;}
.list a{color:#fff; text-decoration:none;font-size:13px}
.list a:hover { font-size:14px; color:#F90;}
#totalidentity{border:none; width:80px; margin:15px 10px;font-family:'Microsoft YaHei'; font-size:12px; }